{
    "env": {
        "browser": true,
        "node": true,
        "es6": true 
    },
    "plugins": [ "fetch", "promise" ],
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:fetch/recommended",
        "plugin:promise/recommended"
    ],
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true,
            "modules": true
        }
    },
    "parser": "babel-eslint",
    "globals": {
        "window": true,
        "document": true,
        "module": true,
        "console": true,
        "require": true,
        "__dirname": true
    }
}