html
  head
    title= "Reactjs Designer"
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css")
  body
    iframe(src="/client", height="100%", width="100%", frameborder=0)